<a href="https://colab.research.google.com/github/nighteye2/machine-learning-notes/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DATA_STRUCTURES IN PYTHON**

# **LISTS**

In [ ]:
fruits= ["apple","banana","guava","kiwi","orange","apple"]
fruits.insert(1,"mango")
fruits.append("olives")
fruits[0]="pineapple"
fruits.remove("guava")
count= fruits.count("apple")
print(count)
print(fruits)

1
['pineapple', 'mango', 'banana', 'kiwi', 'orange', 'apple', 'olives']

In [ ]:
numbers= [x**2 for x in range(1,11)]
print(numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
even_num=[x**2 for x in range(1,11) if x%2!=0]
print(even_num)

[1, 9, 25, 49, 81]

In [ ]:
num=[1,2,3,4,5]
letters=['a','b','c','d','e']
pair=[]
for x in num:
  index1=num.index(x)
  for y in letters:
    index2=letters.index(y)
    if index1==index2:
      pair.append([x,y])
print(pair)

[[1, 'a'], [2, 'b'], [3, 'c'], [4, 'd'], [5, 'e']]

In [ ]:
#Nested list
num=[1,2,3,4,5]
letters=['a','b','c','d','e']
pair=[[x,y] for x in num for y in letters]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [1, 'e'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [2, 'e'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [3, 'e'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd'], [4, 'e'], [5, 'a'], [5, 'b'], [5, 'c'], [5, 'd'], [5, 'e']]

In [ ]:
#nested lists
nested_lst=[[1,2,3],['a','b','c']]
print(nested_lst[1][2])

c

In [ ]:
numbers=[1,2,3,4,5]
numbers2=[x**2 for x in numbers]
print(numbers2)

[1, 4, 9, 16, 25]

# **TUPLES**

In [ ]:
tuple = (1,2,3,4,5)
print(tuple[1::])

(2, 3, 4, 5)

In [ ]:
letters=('a','b','c','d','e')
concat_tuple= tuple+letters
print(concat_tuple)

(1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e')

In [ ]:
#packing a tuple
packed_tuple= 1,'Raaj',3.14
print(packed_tuple)

(1, 'Raaj', 3.14)

In [ ]:
#upacking a tuple
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
Raaj
3.14

In [ ]:
#unpacking with *
#by using asterisk what we are doing is we are unpacking first two elements in the first and last variable but all the remaing elements are getting unpacked in the middle var.
letters=('a','b','c','d','e')
first,*middle,last=letters
print(first)
print(middle)
print(last)

a
['b', 'c', 'd']
e

In [ ]:
#iterating over the tuple
tuple1=(1,2,3,4,5)
for x in tuple1:
  if x!=0:
    print("true")
else:
  print("false")

true
true
true
true
true
false

In [ ]:
#iterating over nested tuple
nested_tuple=((1,2,3),(4,5,6),(7,8,9))
for x in nested_tuple:
  for y in x:
    print(y)

1
2
3
4
5
6
7
8
9

In [ ]:
row=5
for x in range(1,row+1):
  for y in range(1,x+1):
    print("*", end="")
  print()

*
**
***
****
*****

# **SETS**

In [ ]:
#sets are built in data type in python. they do not follow specific order. they do not allow items to get repeated.used to store collection of unique items.

In [ ]:
myset=set({})
append = 'true'
while append=='true':
  num = input("Enter the number")
  myset.add(num)
  if num=='stop':
    append='false'
print(myset)

Enter the number10
Enter the numbergas
Enter the number54
Enter the number3.12
Enter the numberstop
{'3.12', 'gas', '10', '54', 'stop'}

In [ ]:
#membership tests in set

In [ ]:
set1={1,2,3,4,5}
print(3 in set1)
print(9 in set1)

True
False

In [ ]:
#union of set
set2 = {4,5,6,7,8}
union_set= set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#intersection of set
set3={3,4,5,6,7}
intersection_set=set1.intersection(set3)
print(intersection_set)

{3, 4, 5}

In [ ]:
#difference
print(set3.difference(set1))

{6, 7}

In [ ]:
#symmetric difference
print(set1.symmetric_difference(set3))

{1, 2, 6, 7}

# **Dictionaries**

In [ ]:
#dictionaries are unordered collection of items. they store data in key value pairs.keys must be immutable and unique while value can be of any type.

In [ ]:
student_info= {'name':'Raaj','age':20,'grade':'A'}
print(student_info['name'])

Raaj

In [ ]:
student_info['grade']='A+'
print(student_info)

{'name': 'Raaj', 'age': 20, 'grade': 'A+'}

In [ ]:
student_info['major']='Computer Science'
print(student_info)

{'name': 'Raaj', 'age': 20, 'grade': 'A+', 'major': 'Computer Science'}

In [ ]:
student_info.pop('age')
print(student_info)

{'name': 'Raaj', 'grade': 'A+', 'major': 'Computer Science'}

In [ ]:
del student_info['major']
print(student_info)

{'name': 'Raaj', 'grade': 'A+'}

In [ ]:
items=student_info.items()
print(items)

dict_items([('name', 'Raaj'), ('grade', 'A+')])

In [ ]:
#hard copy
student1={'name':'Raaj','age':20,'grade':'A'}
student2=student1
student1['name']='Raj'
print(student1)
print(student2)

{'name': 'Raj', 'age': 20, 'grade': 'A'}
{'name': 'Raj', 'age': 20, 'grade': 'A'}

In [ ]:
#shallow copy
student1={'name':'Raaj','age':20,'grade':'A+'}
student2=student1.copy()
student1['name']='Raj'
student1['grade']='A'
print(student1)
print(student2)

{'name': 'Raj', 'age': 20, 'grade': 'A'}
{'name': 'Raaj', 'age': 20, 'grade': 'A+'}

In [ ]:
#iterating over keys
student1={'name':'Raaj','age':20,'grade':'A+'}
for keys in student1.keys():
  print(keys)

name
age
grade

In [ ]:
#iterating over values
student1={'name':'Raaj','age':20,'grade':'A+'}
for values in student1.values():
  print(values)

Raaj
20
A+

In [ ]:
#iterating over key value pairs
student1={'name':'Raaj','age':20,'grade':'A+'}
for keys,values in student1.items():
  print(f'{keys}:{values}')

name:Raaj
age:20
grade:A+

In [ ]:
#nested dictionaries
students={
    'student1':{'name':'Raaj','age':20,'grade':'A+'},
    'student2':{'name':'dhiraj','age':21,'grade':'A'},
    'student3':{'name':'kedar','age':22,'grade':'B'}
}
print(students['student1']['name'])

Raaj

In [ ]:
#accessing items in nested lists
for x,y in students.items():
  print(x)
  for a,b in y.items():
    print(f'{a}:{b}')

student1
name:Raaj
age:20
grade:A+
student2
name:dhiraj
age:21
grade:A
student3
name:kedar
age:22
grade:B

In [ ]:
#keys comprehention
square_dict={x:x**2 for x in range(1,6)}
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#conditional loop
even_square_dict={x:x**2 for x in range(1,11) if x%2==0}
print(even_square_dict)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [ ]:
#merging two dictionaries
dict1={'a':1,'b':2}
dict2={'c':3,'d':4}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [28]:
#take input from user and store them in the nested list
student_info = {}  # Initialize the dictionary to store student information

while True:  # Loop until explicitly broken
    print('Options:')
    print('1. Add student information')
    print('2. View student information')
    print('3. Exit')
    choice = input('Enter your choice: ')

    if choice == '1':
        try:
            num_students = int(input('Enter the number of students: '))
            for i in range(num_students):
                student_name = input(f'Enter name for student {i+1}: ')
                student_age = int(input(f'Enter age for student {i+1}: '))
                student_grade = input(f'Enter grade for student {i+1}: ')
                student_info[student_name] = {
                    'age': student_age,
                    'grade': student_grade
                }
        except ValueError:
            print("Invalid input! Please enter valid numbers for age and number of students.")

    elif choice == '2':
        if student_info:
            print('Student Information:')
            for student_name, student_details in student_info.items():
                print(f'Name: {student_name}')
                print(f'Age: {student_details["age"]}')
                print(f'Grade: {student_details["grade"]}')
                print('-' * 20)
        else:
            print('No student information available.')

    elif choice == '3':
        print('Exiting program. Goodbye!')
        break

    else:
        print('Invalid choice. Please enter 1, 2, or 3.')

Options:
1. Add student information
2. View student information
3. Exit
Enter your choice: 2
No student information available.
Options:
1. Add student information
2. View student information
3. Exit
Enter your choice: 3
Exiting program. Goodbye!

In [31]:
user_dash = int(input('enter the number of dashes:'))
for i in range(user_dash):
  for j in range(i+1):
    print('-',end='')
  print()

enter the number of dashes:11
-
--
---
----
-----
------
-------
--------
---------
----------
-----------