<a href="https://colab.research.google.com/github/nighteye2/machine-learning-notes/blob/main/python_modules.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from math import sqrt,pi
print(sqrt(16))
print(pi)

4.0
3.141592653589793

In [4]:
import numpy as np
np.array([1,2,3,4,5])

array([1, 2, 3, 4, 5])

# **for creating your own packages:**

1) create package directory let's say named 'package'

2) Inside this package directory create '__init__.py' file. this file is used to create and initialize packages.(double underscore init double underscore dot py)

3)inside this package directory create ur module. let's say named 'operation'. the init file is mostly empty.

4)then call this module in the file using 'from package.operation import *'.

5)now u will be able to use the module functionality.

In [16]:
#random package
import random
print(random.randint(1,100))
print(random.choice(['Raaj','Dhiraj','Kedar','Anuj','Abhijeet','Sahil']))

40
Dhiraj

In [17]:
#file and directory access
import os
print(os.getcwd())
print(os.listdir())

/content
['.config', 'sample_data']

In [18]:
#high level operatiob on files and list of files
import shutil
shutil.copy('test.txt','test1.txt')

In [27]:
#data serialization
#used in order to work with json
import json
#to convert data from dictionary to json, json.dumps() method is used.
students = {
    'student1':{
        'name':'Raaj',
        'marks':'90'
    },
    'student2':{
        'name':'Dhiraj',
        'marks':'80'
    },
    'student3':{
        'name':'Kedar',
        'marks':'70'
    }
}
json_str= json.dumps(students)
print(type(json_str))
print(json_str)

#To convert json data into dictonary json.loads() method is used.

parsed_data = json.loads(json_str)
print(type(parsed_data))
print(parsed_data)

<class 'str'>
{"student1": {"name": "Raaj", "marks": "90"}, "student2": {"name": "Dhiraj", "marks": "80"}, "student3": {"name": "Kedar", "marks": "70"}}
<class 'dict'>
{'student1': {'name': 'Raaj', 'marks': '90'}, 'student2': {'name': 'Dhiraj', 'marks': '80'}, 'student3': {'name': 'Kedar', 'marks': '70'}}

In [34]:
#csv
#this module is used to work with csv files.
import csv
with open('example.csv',mode='w',newline='')as file:
  writer = csv.writer(file)
  writer.writerow(['Name','Branch','Roll_no'])
  writer.writerow(['Raaj','AI & DS',40])
  writer.writerow(['Dhiraj','AI & DS',39])

with open('example.csv', mode='r') as file:
  reader= csv.reader(file)
  for row in reader:
    print(row)

['Name', 'Branch', 'Roll_no']
['Raaj', 'AI & DS', '40']
['Dhiraj', 'AI & DS', '39']

In [36]:
#datetime
from datetime import datetime
now = datetime.now()
print(now)
print(now.year)
print(now.month)
print(now.day)
print(now.hour)
print(now.minute)
print(now.second)

2024-12-01 13:49:07.759356
2024
12
1
13
49
7

In [37]:
#time
import time
print(time.time())
time.sleep(2)
print(time.time())
print(time.localtime(time.time()))

1733061012.5320888
1733061014.5361767
time.struct_time(tm_year=2024, tm_mon=12, tm_mday=1, tm_hour=13, tm_min=50, tm_sec=14, tm_wday=6, tm_yday=336, tm_isdst=0)

In [40]:
#regular expression
import re
pattern = r'\d+'
string = 'there are 123 apples.'
result = re.search(pattern,string)
print(result.group())

123