<a href="https://colab.research.google.com/github/nighteye2/machine-learning-notes/blob/main/sql_n_sqlite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SQL and SQLite**

---
sql (structured query language) is a standard language for managing and manipulating relational databases. sqlite is self contained, serverless and zero configuration database engine that is widely used for embedded database systems.

In [2]:
import sqlite3
connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [6]:
#create a table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Employee(
  Id INTEGER PRIMARY KEY,
  Name TEXT NOT NULL,
  Age INTEGER NOT NULL,
  Department TEXT NOT NULL
  )
''')
#commit the changes
connection.commit()

In [7]:
cursor.execute('''
SELECT * FROM Employee

''')

In [8]:
cursor.execute('''
INSERT INTO Employee(Name,Age,Department)
VALUES('RAAJ',20,'ARTIFICIAL INTELLIGENCE')
''')

cursor.execute('''
INSERT INTO Employee(Name,Age,Department)
VALUES('DHIRAJ',21,'ARTIFICIAL INTELLIGENCE')
''')

cursor.execute('''
INSERT INTO Employee(Name,Age,Department)
VALUES('KEDAR',21,'ARTIFICIAL INTELLIGENCE')
''')

#commit the changes
connection.commit()

In [11]:
#query the data from the table
cursor.execute('SELECT * FROM Employee')
rows=cursor.fetchall() #fetches all the records from the table
for row in rows:
  print(row)

(1, 'RAAJ', 20, 'ARTIFICIAL INTELLIGENCE')
(2, 'DHIRAJ', 22, 'ARTIFICIAL INTELLIGENCE')
(3, 'KEDAR', 21, 'ARTIFICIAL INTELLIGENCE')

In [10]:
#update the data in the table
cursor.execute('''
UPDATE Employee
SET Age=22
WHERE Name='DHIRAJ'
''')
#commit the changes
connection.commit()

In [13]:
#delete the data from the table
cursor.execute('''
DELETE FROM Employee
WHERE Name='KEDAR'
''')
connection.commit()

In [14]:
cursor.execute('SELECT * FROM Employee')
rows= cursor.fetchall()

for row in rows:
  print(row)

(1, 'RAAJ', 20, 'ARTIFICIAL INTELLIGENCE')
(2, 'DHIRAJ', 22, 'ARTIFICIAL INTELLIGENCE')

In [15]:
#multiple insertion of data
employee_data = [
    ('ANUJ',21,'ARTIFICIAL INTELLIGENCE'),
    ('ABHIJEET',20,'ARTIFICIAL INTELLIGENCE'),
    ('BHUMIKA',22,'ARTIFICIAL INTELLIGENCE')
]
cursor.executemany('''
INSERT INTO Employee(Name,Age,Department)
VALUES(?,?,?)
''',employee_data)
connection.commit()

In [16]:
cursor.execute('SELECT * FROM Employee')
rows = cursor.fetchall()
for row in rows:
  print(row)

(1, 'RAAJ', 20, 'ARTIFICIAL INTELLIGENCE')
(2, 'DHIRAJ', 22, 'ARTIFICIAL INTELLIGENCE')
(3, 'ANUJ', 21, 'ARTIFICIAL INTELLIGENCE')
(4, 'ABHIJEET', 20, 'ARTIFICIAL INTELLIGENCE')
(5, 'BHUMIKA', 22, 'ARTIFICIAL INTELLIGENCE')

In [17]:
# last statement to close the connection
connection.close()

In [ ]:
#now if you try to execute cursor.execute() it will not be executed as connection is closed.